/.Xauthority
/.admin
/.bash_history
/.bash_logout
/.bashrc
/.c9
/.cache
/.config
/.emacs
/.emacs.d
/.gnupg
/.lesshst
/.local
/.ocamlinit
/.ocp
/.opam
/.pki
/.profile
/.ssh
/.sudo_as_admin_successful
/.utop-history
/.vim
/.vim_undo
/.viminfo
/.vscode
/.vscode-server
/.wget-hsts
/_build
/.nvimrc
/.vimrc